{{define "main"}}
{{ partial "menu.html" . }}

<section class="intro">
  {{if .Site.Params.main.enabled }}

  <div class="image-content">
    <img class="image" src='{{ .Site.Params.main.img | absURL }}'
      width="2362" height="3258"
      title="{{ .Site.Params.main.img_title }}"
      alt="Picture by StudioTchiz" />
  </div>
  {{end}}


  <div class="text-content">
    <h2> </h2>
    <ul>
      <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
    </ul>
    <p>{{ .Site.Params.main.description | safeHTML }}</p>
  </div>
</section>
{{end}}

