{{define "main"}}
{{ partial "menu.html" . }}

<section class="intro" style="display: flex; align-items: center;">
  {{if .Site.Params.main.enabled }}
  
  <div class="image-content" style="flex: 0 0 auto; margin-right: 50px;">
    <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
         title="{{ .Site.Params.main.img_title }}" 
         alt="Picture by StudioTchiz" 
         style="max-width: auto; height: auto; border-radius: 100px;"/>
  </div>
  {{end}}
  
  <div class="text-content" style="flex: 1;">
    <h2> </h2>
    <ul>
      <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
    </ul>
    <p>{{ .Site.Params.main.description | safeHTML }}</p>
  </div>
</section>
{{end}}

